body{
	background: #EDEEF5;
}
.cabecalho{
	/*padding: 20px!important;*/
	padding-left: 10px;
	background: orange!important;
	text-align: left;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-weight: 900
}
.cabecalho .task{
	color: #fff;
	font-size: 26px;
	letter-spacing: -2px;
	font-family: 'Montserrat', sans-serif;
}
/*}
.container {
	display: flex;
	max-width: 80%;
	max-height: 360px;
	flex-flow: row wrap;
	justify-content: space-around;
	border: 1px solid #8d8d8d;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -2px #d3b2817a;;
}

.projects {
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 20%;
	max-height: 140px;
	margin: 20px 2%;
	background-color: #ff8a00;
	border-radius: 3px;
}

.projects p {
	opacity: 1;
}

.projects h2 {
	padding: 3px;
	align-self: center;
	font-size : 20px;
	opacity: 1;
}

.projects h2:hover {
	display : inline;
}*/
