@font-face {
  font-family: 'Cataclysmo';
  src: url(../fonts/Cataclysmo.otf) format('OpenType');
}
/*@font-face {
  font-family: 'KlavikaBold';
  src: url(../fonts/KlavikaBold/KlavikaBold.otf) format('OpenType');
}
@font-face {
  font-family: 'KlavikaLight';
  src: url(../fonts/KlavikaLight/KlavikaLight.otf) format('OpenType');
}*/

/***************
    HEADER
***************/
.pre-loader{
  position: absolute;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   background: #161616;
   background-image: url(../img/Eclipse.svg);
   background-position: center;
   background-repeat: no-repeat;
   z-index: 9999;
}

body{
  background: url(../img/air-controll.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff!important;
  font-family: 'Montserrat', sans-serif!important;
}
.logo {
  font-family: 'Cataclysmo', sans-serif;
  font-size: 62px;
  text-align: center;
  padding: 20px 0px;
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(47, 47, 47);
}

.logo .task{
  font-family: 'Cataclysmo';
  font-weight: 100;
  font-size: 66px;
  text-transform: capitalize;
  color: orange;
}

.logo span:hover{

}
/*.logo p{
  color: #fff;
}
.logo p:hover{
  color: rgb(73, 73, 73);
  transition: 0.3s;
}*/

main{
  margin: 20px 0;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600!important;
}

.desc{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}



/***************
    FORM
***************/
.login-area{
  max-width: 400px;
  border: 1px solid #8d8d8d;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -2px #d3b2817a;
}

.top-nav{
  margin: 0 auto 40px;
  border-bottom: 1px solid #8d8d8d;
  text-align: center;
}

.top-nav a{
  display: inline-block;
  width: 165px;
  height: 58px;
  line-height: 58px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none!important;
  z-index: 1;
  position: relative;
  top: 1px;
  text-align: center;
}

.top-nav a:hover{
  border-bottom: 1px solid orange;
  transition: 0.3s;
  color: orange;
}
/*.top-nav a:hover:after{
  height: 2px;
  animation: ad_width .5s linear forwards;
  background: #ff8a00;
}*/
.top-nav a:active{
  color: orange;
}

.fields{
  padding: 0 30px 20px;
  min-height: 337px;
}

.fields input{
  margin-bottom: 15px;
}

.itens-alias {
  max-width: 320px;
  margin: 0 auto;
  color: #a9a9a9;
  margin-bottom: 20px;
}
input[type=checkbox]{
  margin: 0;
}
.fields .keep{
  font-size: 13px;
}
.fields .forgot{
  font-size: 14px;
  text-align: right;
}

.fields .btn{
  width: 100%;
  background: #ff8a00;
  border: none;
  line-height: 34px;
  font-size: 18px;
  font-weight: bold;
}
/*hover*/
.fields .btn:hover{
  cursor: pointer;
  background: #ff6600;
}
/*focus*/
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(251, 124, 20, 1);
    background: #ff6600;
}
/*active*/
.btn-primary.active, .btn-primary:active {
    background: #ff6600!important;
    box-shadow: 0 0 0 0.2rem rgba(251, 124, 20, 1)!important;
}

.fields .form-control:focus{
  color: #495057;
  background-color: #fff;
  border-color: #fc8b3a;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(252, 139, 58, 0.3);
}



/***************
    FOOTER
***************/
footer{
  padding: 10px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

footer span {
  color: red
}
footer img{
  max-width: 35px;
  height: auto;
  position: relative;
  top: -3px;
}

/***************
    QUERIES
***************/
/*mobile*/
@media (max-width: 576px){
  .login-area{
    max-width: 100%;
  }
  .fields .keep{
    float: none;
  }
}
